:root {
  --color-dark: #282c34;
  --color-light: white;
}

.App {
  background-color: var(--color-dark);
  min-height: 100vh;
  color: var(--color-light);
  padding: 1rem;
}

h2 {
  margin-bottom: 0;
}

h2+* {
  margin-top: .5rem;
}

input[type="checkbox"] {
  margin-right: .5rem;
}

ul {
  list-style: none;
  padding-left: 0;
}

.form {
  width: 14rem;
  border: 5px solid var(--color-light);
  border-radius: 10px;
  padding: 1rem;
}

.form__flex {
  display: flex;
  margin: .5rem auto;
}

.form__input {
  margin-left: auto;
  border-radius: 5px;
}

.form__save,
.list__delete {
  color: var(--color-dark);
  border: none;
}

.list__delete {
  border-radius: 5px;
  margin-left: .5rem;
}