h1 {
  text-align: center;
}

[type=checkbox] {
  transform: translateY(.1rem);
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app>* {
  margin-top: 2rem;
  border: 1px solid black;
}

.form__fill {
  margin-left: .25rem;
}

.form,
.list {
  padding: 1rem;
  margin-top: 0;
  max-width: 30rem;
}

.list__todo {
  list-style: none;
}

.list__todo>* {
  display: inline;
}

.list__checkbox {
  margin: 0;
}

.list__title,
.list__button {
  margin-left: .25rem;
}

.list__button {
  padding: 0;
  line-height: .5rem;
  transform: translateY(-.1rem);
}